@font-face {

    font-family: 'Novecento sans wide Light';

    src: url('../public/Fonts/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'), 
         url('../public/Fonts/Novecentosanswide-DemiBold-webfont.woff') format('woff');

         font-weight: 0;
         font-style: normal;
  }